body {
  color: blue;
  font-family: Calibri;
}

div {
  color: red;
  text-decoration: underline;
  font-weight: bold;
  border: 2px solid purple
}

li:first-child {
  color: red;
}

li + li {
  color: green;
}

li:last-child {
  color: blue
}

@keyframes borderBlink {
  0% {
    border-color: red
  }
  50% {
    border-color: green
  }
  100% {
    border-color: blue
  }
}

.borderBlink{
  border:1px solid green
}

.borderBlink:hover {
  animation: borderBlink 1s step-end infinite;
}

.pageTile {
  color: red;
}