.block {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
