<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>newvue</title>
  </head>
  <body>
    <div id="app1">
      <h1>{{ title }}</h1>
      <button v-on:click="show">Show Paragraph</button>
      <p v-if="showParagraph">This is not always visible.</p>
    </div>

    <div id="app2">
      <h1>{{ title }}</h1>
      <button v-on:click="show">Show Info</button>
      <p v-if="showParagraph">This is not always visible.</p>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
