<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>victor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"></link>
  </head>
  <body>
  <div id="app">
    <h1 v-once>{{msg}}</h1>
    <h2>Tel: {{tel}}</h2>
    <p><a v-bind:href="link">{{sayMyName("Tristan")}}</a></p>
    <p v-html="jsCommand"></p>
    <button v-on:click="changeMe">Change Me</button>
    <p v-on:mousemove="updatePos">
      {{xp}} / {{yp}} <span v-on:mousemove.stop="">        No change over        </span>
    </p>
    <input type="text" v-on:keyup.enter="alertMe">
    <input type="text" v-model="tel">
    <p><input type="number" v-model="adder1"> + <input type="number" v-model="adder2"> = {{result}}</p>
    <p><input type="number" v-model="multiplier1"> * <input type="number" v-model="multiplier2"> = {{mresult}}</p>

    <div @click="showred = !showred" :class="{red: showred}">xxx</div>
    <div class="class2" :style="{'background-color': 'green'}">yyy</div>
    <div class="class3" :style="{backgroundColor: 'blue'}">zzz</div>
  </div>
  </body>
</html>
